
// header
$grid-col-width: 1fr 5fr 0.8fr ;
$header-height: 11vh;
$hd-link-color: red;
$hd-link-font-size: 1.1em;
$hd-link-pad: 7px;
$site-logo-width: 4.3rem;
$website-font-fam:'Poppins', sans-serif;
$nav-bkg-color: black;
$link-color: rgb(226, 36, 36);

header {
    background-color: $nav-bkg-color;
    height: $header-height;
    top: 0;
    width: 100vw;
    display: grid;
    grid-template-columns: $grid-col-width;
    justify-items: center;
    align-items: center;
    position: sticky;
    top: 0px;
    z-index: 1;
}

header #site-logo {
    width: $site-logo-width;
    grid-column: 1/2;
    display: block;
    top: 0;
    position: absolute;
    padding: 3px;
    // Position as absolute to take position relateive to nearest position ancestor #nav-bar
}


