
// header
$grid-temp-col: 1fr 3fr 2fr 0.5fr;
$header-height: 15vh;
$hd-link-color: red;
$hd-link-font-size: 1.1em;
$hd-link-pad: 7px;
$site-logo-width: 77px;
$website-font-fam:'Poppins', sans-serif;
$nav-bkg-color: black;
$link-color: rgb(226, 36, 36)


