
$grid-col-width: 1fr 5fr 0.5fr ;
$header-height: 11vh;
$hd-link-color: red;
$hd-link-font-size: 1.1em;
$hd-link-pad: 7px;
$site-logo-width: 4.3rem;
$website-font-fam:'Poppins', sans-serif;
$nav-bkg-color: black;
$link-color: rgb(226, 36, 36);

// Tablet view
@media only screen and (min-width: 600px) {
    // nav-bar tablet style
    #toggle-btn {
        display: none;
    }

    .nav-menu {
        display: inline;
        background-color: transparent;
        top: 0;
        grid-column: 2/7;
        margin-left: 40vw;
    }

    .nav-menu a {
        display: inline-block;
        color: $link-color;
        font-size: 1.1rem;
        vertical-align: center;
       text-transform: uppercase;  
    }

    .nav-menu a:hover {
        color: white;
        text-decoration: underline;
        transition: color 1s;
    }

    #site-logo {
        font-size: 4.7rem;
        vertical-align: middle;
    }
}