* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body, html {
  height: 100vh;
  font-family: "Poppins", sans-serif;
  background: #f2e9e4;
  overflow-x: hidden;
}

header {
  background-color: black;
  height: 11vh;
  top: 0;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 5fr 0.8fr;
  justify-items: center;
  align-items: center;
  position: sticky;
  top: 0px;
  z-index: 1;
}

#site-logo {
  width: 70px;
  grid-column: 1/2;
  top: 0;
  position: absolute;
  padding: 3px;
  vertical-align: middle;
}

#toggle-btn {
  position: absolute;
  right: 0;
  top: 0;
  padding-top: 1.2rem;
  padding-right: 1.2rem;
  cursor: pointer;
  color: #e22424;
  font-size: 1.5rem;
}

#menu-toggle {
  display: none;
}

#menu-toggle:checked ~ .nav-menu {
  display: block;
}

.nav-menu {
  display: none;
  align-content: center;
  background-color: #cf7575;
  top: 55px;
  position: relative;
  width: 100vw;
}

.nav-menu a {
  color: white;
  text-decoration: none;
  text-align: center;
  display: block;
  font-size: 1.2rem;
  margin: 20px;
}

.nav-menu a:hover {
  color: black;
  transition: color 1s;
}

#phone-number {
  right: 0;
  color: #e22424;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  height: 69vh;
  width: 100%;
  margin: 30px 0px;
  overflow: auto;
}

.container #hero {
  background-image: url(https://images.pexels.com/photos/1049626/pexels-photo-1049626.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500), linear-gradient(#000001, black);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  width: 100vw;
  height: 60vh;
  top: 0;
}

.container #hero #hero-content {
  color: white;
  text-align: left;
  margin: 30px 20px;
}

.container #hero #hero-content button {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid black;
}

.container #hero #hero-content button:hover {
  background-color: #dda0a0;
}

.container #hero #hero-content button a {
  text-decoration: none;
}

.container #quick-menu {
  position: relative;
  justify-self: center;
  background-color: #e48458;
  grid-column: 1/-1;
  margin: 50px;
  width: 80vw;
  padding: 10px;
  text-align: center;
}

.container #quick-menu .quick-menu-items a {
  display: block;
  text-decoration: none;
  font-size: 1.2rem;
  padding: 5px 0;
}

.container #featured-items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  width: 100vw;
  justify-content: center;
  margin: 50px 0;
}

.container #featured-items h1 {
  text-align: center;
  align-self: center;
  background-color: #e48458;
  height: 15vh;
  padding-top: 30px;
}

.container #featured-items .item {
  position: relative;
  margin: 10px;
}

.container #featured-items .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 1px solid black;
  border-radius: 5px;
}

.container #featured-items .item img:hover {
  opacity: 60%;
  border: 4px solid #d14747;
}

.container #featured-items .item .item-name {
  position: absolute;
  top: 0;
  background-color: #888585;
  opacity: 60%;
  width: 100%;
  height: 15vh;
  text-align: center;
  padding-top: 15px;
}

.container #featured-items .item-name h3 {
  color: black;
  opacity: 100%;
}

.container #main-map-location {
  grid-column: 1/-1;
  margin: 50px 0;
}

.container #main-map-location #main-map h2 {
  grid-row: 1/-1;
  text-align: center;
  align-self: center;
  background-color: #e48458;
  height: 15vh;
  width: 100vw;
  padding-top: 30px;
}

.container #main-map-location #main-map iframe {
  padding-top: 30px;
  grid-column: 1/-1;
  width: 100%;
  margin: 0 auto;
}

.about-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  justify-items: center;
  align-items: center;
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.about-container #our-story, .about-container #fresh-ingredients, .about-container #family-owned {
  grid-column: 1/-1;
  padding: 30px;
  text-align: center;
  margin: 30px;
}

.about-container #our-story {
  border: 3px solid #da7d7d;
  grid-column: 1/-1;
}

.about-container #fam-photo {
  max-width: 100%;
  height: 200px;
  object-fit: contain;
  align-self: center;
  grid-column: 1/-1;
}

.about-container #fresh-ingredients, .about-container #family-owned {
  background-color: #e48458;
}

.about-container .ingredients img {
  max-width: 80%;
  height: auto;
  border: 2px solid black;
  padding: 5px;
  border-radius: 10px;
  object-fit: co;
}

.menu-img-display {
  background-image: url("https://images.unsplash.com/photo-1585238342024-78d387f4a707?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2000&q=80");
  background-repeat: no-repeat;
  border: 2px solid white;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  height: 30vh;
  width: 100%;
  background-size: cover;
  margin-top: 50px;
  overflow: auto;
}

.menu-img-display #menu-signature-pizza, .menu-img-display #menu-calzones, .menu-img-display #menu-pastas, .menu-img-display #menu-beverages {
  color: white;
  text-align: center;
  margin-top: 20px;
}

.menu-container {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  height: 100vh;
  width: 100%;
  margin: 20px 0px 20px 0px;
  overflow: auto;
  position: relative;
}

.menu-container .menu-items {
  padding: 20px;
  width: 70vw;
}

.menu-container .menu-items li {
  list-style: none;
  padding: 10px;
}

#link-menu-category {
  display: none;
}

.contactUs-container {
  display: grid;
  grid-column: repeat(2, 1fr);
  width: 80vw;
  min-height: 69vh;
  justify-items: center;
  align-items: center;
}

.contactUs-container #contact-us {
  grid: 1/3;
  grid-row: 1/2;
  margin-top: 35px;
}

.contactUs-container #map-location {
  margin-bottom: 30px;
  grid-row: 2/3;
}

.contactUs-container .contact-location {
  padding: 20px;
}

.contactUs-container #location {
  grid-column: 2/ span 2;
  grid-row: 2/ span 1;
  text-align: center;
}

.contactUs-container #location #map {
  grid-column: 1/ span 2;
  overflow: auto;
  height: 30vh;
  width: 90vw;
  border: 2px solid white;
  border-radius: 5px;
  margin: 15px 0px;
}

.contactUs-container #location #address {
  text-align: left;
}

footer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  justify-items: center;
  height: 20vh;
  width: 100%;
  background-color: black;
  padding: 10px;
  overflow: auto;
}

footer div {
  color: #e22424;
  text-align: center;
  padding: 10px;
}

footer #footer-contact a {
  color: white;
}

footer #social i {
  color: white;
  padding: 5px;
  font-size: 1.3rem;
}

@media only screen and (min-width: 600px) and (min-width: 600px) {
  #toggle-btn {
    display: none;
  }
  .nav-menu {
    display: inline;
    background-color: transparent;
    top: 0;
    grid-column: 2/7;
    margin-left: 40vw;
  }
  .nav-menu a {
    display: inline-block;
    color: #e22424;
    font-size: 1.1rem;
    vertical-align: center;
    text-transform: uppercase;
  }
  .nav-menu a:hover {
    color: white;
    text-decoration: underline;
    transition: color 1s;
  }
  #site-logo {
    font-size: 4.7rem;
    vertical-align: middle;
  }
}

@media only screen and (min-width: 600px) {
  .menu-img-display {
    height: 50vh;
  }
  .contactUs-container #contact-us #contact-location h2 p {
    font-size: 0.9rem;
  }
  .contactUs-container #map-location {
    grid-row: 1/4;
    font-size: 1.1rem;
  }
  footer {
    display: grid;
    grid-template-columns: repeat(autofit, minmax(0.5px, 1fr));
    align-items: center;
  }
  footer div i {
    color: white;
  }
  footer #hours h3, footer p {
    text-align: left;
  }
  footer div h3, footer p, footer a, footer i {
    font-size: 0.9rem;
  }
}

@media only screen and (min-width: 800px) {
  .about-container {
    width: 80vw;
  }
  .menu-img-display {
    width: 80vw;
  }
}
/*# sourceMappingURL=style.css.map */