* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body, html {
  height: 100vh;
  font-family: "Poppins", sans-serif;
  background: #f2e9e4;
  overflow-x: hidden;
}

header {
  background-color: black;
  height: 11vh;
  top: 0;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 5fr 0.8fr;
  justify-items: center;
  align-items: center;
  position: sticky;
  top: 0px;
  z-index: 1;
}

#site-logo {
  width: 70px;
  grid-column: 1/2;
  top: 0;
  position: absolute;
  padding: 3px;
  vertical-align: middle;
}

#toggle-btn {
  position: absolute;
  right: 0;
  top: 0;
  padding-top: 1.2rem;
  padding-right: 1.2rem;
  cursor: pointer;
  color: #e22424;
  font-size: 1.5rem;
}

#menu-toggle {
  display: none;
}

#menu-toggle:checked ~ .nav-menu {
  display: block;
}

.nav-menu {
  display: none;
  align-content: center;
  background-color: #888585;
  top: 55px;
  position: relative;
  width: 100vw;
  z-index: 1;
}

.nav-menu a {
  color: #e22424;
  text-decoration: none;
  text-align: center;
  display: block;
  font-size: 1.2rem;
  margin: 20px;
  text-transform: uppercase;
  font-weight: bold;
}

.nav-menu a:hover {
  color: white;
  transition: color 1s;
  font-size: 1.2rem;
}

#phone-number {
  right: 0;
  color: black;
  margin: 0;
  background-color: #e48458;
  width: 35vw;
  height: 5vh;
  padding: 3px;
  position: fixed;
  text-align: center;
  z-index: 1;
  border-radius: 10px;
}

#phone-number:hover {
  color: white;
  transition: color 1s;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  height: 69vh;
  width: 100%;
  margin: 30px 0px;
  overflow: auto;
}

.container #hero {
  background-image: url(https://images.pexels.com/photos/1049626/pexels-photo-1049626.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  width: 100vw;
  height: 60vh;
  top: 0;
}

.container #hero #hero-content {
  color: white;
  text-align: left;
  margin: 5% 10%;
  background-color: #888585;
  opacity: 80%;
  padding: 15px;
  font-size: 0.8rem;
}

.container #hero #hero-content button {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid black;
  margin-top: 8px;
}

.container #hero #hero-content button:hover {
  background-color: #dda0a0;
}

.container #hero #hero-content button a {
  text-decoration: none;
  color: black;
}

.container #quick-menu {
  position: relative;
  justify-self: center;
  background-color: #e48458;
  grid-column: 1/-1;
  margin: 50px;
  width: 60vw;
  padding: 10px;
  text-align: center;
}

.container #quick-menu .quick-menu-items a {
  display: block;
  text-decoration: none;
  font-size: 1.2rem;
  padding: 5px 0;
  color: black;
}

.container #quick-menu .quick-menu-items a:hover {
  color: white;
  text-decoration: underline;
}

.container #featured-items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  width: 90vw;
  justify-content: center;
  margin: 50px 20px;
}

.container #featured-items h1 {
  text-align: center;
  align-self: center;
  background-color: #e48458;
  height: 15vh;
  padding-top: 30px;
}

.container #featured-items .item {
  position: relative;
  margin: 10px;
}

.container #featured-items .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 1px solid black;
  border-radius: 5px;
}

.container #featured-items .item img:hover {
  opacity: 60%;
  border: 4px solid #d14747;
}

.container #featured-items .item .item-name {
  position: absolute;
  top: 0;
  background-color: #888585;
  opacity: 60%;
  width: 100%;
  height: 15vh;
  text-align: center;
  padding-top: 15px;
}

.container #featured-items .item-name h3 {
  color: black;
  opacity: 100%;
}

.container #main-map-location {
  grid-column: 1/-1;
  margin-top: 100px;
  width: 80vw;
  margin: 0 auto;
}

.container #main-map-location #main-map h2 {
  grid-row: 1/-1;
  text-align: center;
  align-self: center;
  background-color: #e48458;
  height: 15vh;
  width: 80vw;
  padding-top: 30px;
}

.container #main-map-location #main-map iframe {
  padding-top: 30px;
  grid-column: 1/-1;
  width: 100%;
  margin: 0 auto;
}

.about-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-items: center;
  align-items: center;
  overflow: auto;
  width: 100%;
  height: 69vh;
  margin: 0 auto;
}

.about-container #our-story, .about-container #fresh-ingredients, .about-container #family-owned {
  grid-column: 1/-1;
  padding: 5% 10%;
  text-align: center;
  margin: 30px;
}

.about-container #our-story {
  border: 3px solid #d14747;
  border-radius: 10px;
  grid-column: 1/-1;
  font-size: 1.4rem;
  width: 75vw;
}

.about-container #fresh-ingredients, .about-container #family-owned {
  background-color: #e48458;
}

.about-container #family-owned {
  width: 80vw;
}

.about-container #family-owned iframe {
  padding: 30px;
  width: 100%;
}

.about-container .ingredients img {
  max-width: 80%;
  height: auto;
  border: 2px solid black;
  padding: 5px;
  border-radius: 10px;
  object-fit: cover;
}

.about-container #instagram {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-column: 1/-1;
  margin: 0 auto;
  width: 70vw;
}

.about-container #instagram h2 {
  text-align: center;
  grid-column: 1/-1;
  padding: 30px 0;
  border: 3px solid #d14747;
  border-radius: 10px;
  margin-top: 30px;
}

.about-container #instagram .IG-img {
  position: relative;
  margin: 7px;
}

.about-container #instagram .IG-img a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 1px solid black;
  border-radius: 5px;
}

.about-container #instagram .IG-img a img:hover {
  opacity: 60%;
  border: 4px solid #d14747;
}

.menu-img-display1, .menu-img-display2, .menu-img-display3, .menu-img-display4 {
  background-image: url("https://images.unsplash.com/photo-1585238342024-78d387f4a707?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2000&q=80");
  background-repeat: no-repeat;
  border: 2px solid white;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  height: 30vh;
  width: 90vw;
  background-size: cover;
  background-position: center;
  margin-top: 50px;
  overflow: auto;
}

.menu-img-display2 {
  background-image: url("https://media.istockphoto.com/photos/delicious-pizza-calzone-picture-id1061654734?k=6&m=1061654734&s=612x612&w=0&h=Cn-_JmJhFn9mjY7oBzm4qeRG4QJrwM34XtDaXsxm0p8=");
}

.menu-img-display3 {
  background-image: url("https://images.unsplash.com/photo-1473093226795-af9932fe5856?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjJ8fHBhc3RhfGVufDB8MHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=60");
}

.menu-img-display4 {
  background-image: url("https://images.unsplash.com/photo-1551024709-8f23befc6f87?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8YmV2ZXJhZ2V8ZW58MHwwfDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=60");
}

#menu-signature-pizza, #menu-calzones, #menu-pastas, #menu-beverages {
  position: absolute;
  color: white;
  background-color: #e48458;
  text-align: center;
  bottom: 0;
  font-size: 1.4rem;
  padding: 3px 5px;
}

.menu-container {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  height: 100vh;
  width: 100%;
  margin: 20px 10px;
  overflow: auto;
  position: relative;
}

.menu-container .menu-items {
  padding: 20px;
  width: 80vw;
}

.menu-container .menu-items li {
  list-style: none;
  padding: 10px;
}

.contactUs-container {
  display: grid;
  grid-column: repeat(auto-fit, minmax(150px, 1fr));
  width: 90vw;
  min-height: 69vh;
  justify-items: center;
  align-items: center;
}

.contactUs-container #contact-us {
  grid-column: 1/3;
  grid-row: 1/2;
  margin-top: 35px;
  margin-bottom: 30px;
}

.contactUs-container #map-location {
  margin-bottom: 30px;
  grid-row: 2/3;
  margin-top: 15px;
}

.contactUs-container .contact-location {
  padding: 15px;
  background-color: #e48458;
  text-align: center;
}

footer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  justify-items: center;
  height: 20vh;
  width: 100%;
  background-color: black;
  padding: 10px;
  overflow: auto;
}

footer div {
  color: #e22424;
  text-align: center;
  padding: 10px;
}

footer #footer-contact a {
  color: white;
}

footer #social i {
  color: white;
  padding: 5px;
  font-size: 1.3rem;
}

@media only screen and (min-width: 600px) {
  .menu-img-display {
    height: 50vh;
  }
  .contactUs-container #contact-us #contact-location h2 p {
    font-size: 0.9rem;
  }
  .contactUs-container #map-location {
    grid-row: 1/4;
    font-size: 1.1rem;
  }
  footer {
    display: grid;
    grid-template-columns: repeat(autofit, minmax(0.5px, 1fr));
    align-items: center;
  }
  footer div i {
    color: white;
  }
  footer #hours h3, footer p {
    text-align: left;
  }
  footer div h3, footer p, footer a, footer i {
    font-size: 0.9rem;
  }
}

@media only screen and (min-width: 600px) {
  #toggle-btn {
    display: none;
  }
  .nav-menu {
    display: inline;
    background-color: transparent;
    top: 0;
    grid-column: 2/7;
    margin-left: 40vw;
  }
  .nav-menu a {
    display: inline-block;
    color: #e22424;
    font-size: 1.1rem;
    vertical-align: center;
    text-transform: uppercase;
  }
  .nav-menu a:hover {
    color: white;
    text-decoration: underline;
    transition: color 1s;
  }
  #site-logo {
    font-size: 90px;
    vertical-align: middle;
  }
  #phone-number {
    pointer-events: none;
  }
  .menu-img-display1, .menu-img-display2, .menu-img-display3, .menu-img-display4 {
    height: 50vh;
  }
}

@media only screen and (min-width: 900px) {
  .nav-menu {
    display: inline;
    background-color: transparent;
    top: 0;
    grid-column: 2/7;
    margin-left: 50vw;
  }
  .nav-menu a {
    font-size: 1.3rem;
  }
  #site-logo {
    font-size: 100px;
  }
  #quick-menu .quick-menu-items a {
    display: inline-block;
    font-size: 1.4rem;
  }
  #fresh-ingredients, #family-owned {
    font-size: 1.2rem;
  }
  #phone-number {
    pointer-events: none;
  }
  #hero #hero-content {
    font-size: 1.3rem;
  }
  .menu-img-display1, .menu-img-display2, .menu-img-display3, .menu-img-display4 {
    height: 40vh;
  }
  #menu-signature-pizza, #menu-calzones, #menu-pastas, #menu-beverages {
    font-size: 2rem;
  }
  .contactUs-container #map-location #map iframe #map iframe {
    width: 60vw;
  }
}
/*# sourceMappingURL=style.css.map */