@import '_variables.scss';

* { 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, html {
    height: 100vh;
    font-family: $website-font-fam;
    background: #f2e9e4;
    overflow-x: hidden;
}

@import 'header.scss';

//  -----Navbar -----

header {
    background-color: $nav-bkg-color;
    height: $header-height;
    top: 0;
    width: 100vw;
    display: grid;
    grid-template-columns: $grid-col-width;
    justify-items: center;
    align-items: center;
    position: sticky;
    top: 0px;
    z-index: 1;
} 

#site-logo {
    width: $site-logo-width;
    grid-column: 1/2;
    top: 0;
    position: absolute;
    padding: 3px;
    vertical-align: middle;
    // Position as absolute to take position relateive to nearest position ancestor #nav-bar
}

// navbar toggle menu

#toggle-btn {
    position: absolute;
     // Position as absolute to take position relateive to nearest position ancestor #nav-bar
    right: 0;
    top: 0;
    padding-top: 1.2rem;
    padding-right: 1.2rem;
    cursor: pointer;
    color: $link-color;
    font-size: 1.5rem; 
}

#menu-toggle {
    display: none;
}

#menu-toggle:checked ~ .nav-menu {
    display: block;
}

.nav-menu {
    display: none;
    align-content: center;
    background-color: $opacity-bkg-color;
    top: 55px;
    position: relative;
    width: 100vw;
    z-index: 1;
}

.nav-menu a {
    color: $link-color;
    text-decoration: none;
    text-align: center;
    display: block;
    font-size: 1.2rem;
    margin: 20px;
    text-transform: uppercase;
    font-weight: bold;
}

.nav-menu a:hover {
    color: $link-hover-color;
    transition: color 1s;
    font-size: 1.2rem;
}

// -----Fixed Phone Number on all media view ----- 

#phone-number {
    right: 0;
    color: black;
    margin: 0;
    background-color: $text-block-bkg-color;
    width: 35vw;
    height: 5vh;
    padding: 3px;
    position: fixed;
    text-align: center;
    z-index: 1;
    border-radius: 10px;
}

#phone-number:hover {
    color: $link-hover-color;
    transition: color 1s;
}

// ----- Main Page -----

.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    height: 69vh;
    width: 100%;
    margin: 30px 0px;
    overflow: auto;

    // - Hero Section -
    #hero {
        background-image: url(https://images.pexels.com/photos/1049626/pexels-photo-1049626.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        position: relative;
        width: 100vw;
        height: 60vh;
        top: 0;
        // the background-position is set to center to ensure the image is scaled for all screen size
        
        #hero-content {
            color:rgb(255, 255, 255);
            text-align: left;
            margin: 5% 10%;
            background-color: rgb(136, 133, 133);
            opacity: 80%;
            padding: 15px;
            font-size: 0.8rem;
        }

        #hero-content button {
            padding: 10px;
            border-radius: 6px;
            border: 1px solid black;
            margin-top: 8px;
        }

        #hero-content button:hover {
            background-color: rgb(221, 160, 160);
        }

        #hero-content button a {
            text-decoration: none;
            color: black;
        }
    }
    
    // - Quick Menu Section -

    #quick-menu {
        position: relative;
        justify-self: center;
        background-color: $text-block-bkg-color;
        grid-column: 1/-1;
        margin: 50px;
        width: 60vw;
        padding: 10px;
        text-align: center;
    }

    #quick-menu .quick-menu-items a {
        display: block;
        text-decoration: none;
        font-size: 1.2rem;
        padding: 5px 0;
        color: black;
    }

    #quick-menu .quick-menu-items a:hover {
        color: $text-hover;
        text-decoration: underline;
    }

    // - Featured Items -
    #featured-items {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        width: 90vw;
        justify-content: center;
        margin: 50px 20px;
        

        h1 {
            text-align: center;
            align-self: center;
            background-color: $text-block-bkg-color;
            height: 15vh;
            padding-top: 30px;
        }

        .item {
            position: relative;
            margin: 10px;
        }

        .item img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border: 1px solid black;
            border-radius: 5px;
        }

        .item img:hover {
            opacity: 60%;
            border: 4px solid $border-hover-color; 
        }

        .item .item-name {
            position: absolute;
            top: 0;
            background-color: rgb(136, 133, 133);
            opacity: 60%;
            width: 100%;
            height: 15vh;
            text-align: center;
            padding-top: 15px;
        }

        .item-name h3 {
            color: black;
            opacity: 100%;
        }
}

    // - Visit Us Section - 
    #main-map-location {
        grid-column: 1/-1;
        margin-top: 100px;
        width: 80vw;
        margin: 0 auto;

        #main-map {
            h2 {
                grid-row: 1/-1;
                text-align: center;
                align-self: center;
                background-color: $text-block-bkg-color;
                height: 15vh;
                width: 80vw;
                padding-top: 30px;
            }

            iframe {
                padding-top: 30px;
                grid-column: 1/-1;
                width: 100%;
                margin: 0 auto;
            }
        }
       
    }
}

// ----- About Us Section -----
.about-container  {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-items: center;
    align-items: center;
    overflow: auto;
    width: 100%;
    height: 69vh;
    margin: 0 auto;

    #our-story, #fresh-ingredients, #family-owned {
        grid-column: 1/-1;
        padding: 5% 10%;
        text-align: center;
        margin: 30px;
        // grid-colimn 1/-1 used to ensure the item will always span across the entire grid
    }

    #our-story {
        border: 3px solid $border-hover-color;
        border-radius: 10px;
        grid-column: 1/-1;
        font-size: 1.4rem;
        width: 75vw;
    }

    #fresh-ingredients, #family-owned  {
        background-color: $text-block-bkg-color;
    }

    #family-owned {
        width: 80vw;
    }

    #family-owned iframe {
        padding: 30px;
        width: 100%;
    }
    
    .ingredients img {
        max-width: 80% ;
        height: auto;
        border: 2px solid black;
        padding: 5px;
        border-radius: 10px;
        object-fit: cover;
    }

    // Instagram Section
    #instagram {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-column: 1/-1;
        margin: 0 auto;
        width: 70vw;

        h2 {
            text-align: center;
            grid-column: 1/-1;
            padding: 30px 0;
            border: 3px solid $border-hover-color;
            border-radius: 10px;
            margin-top: 30px;
        }

        .IG-img {
            position: relative;
            margin: 7px;
        }

        .IG-img a img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            border: 1px solid black;
            border-radius: 5px;
        }

        .IG-img a img:hover {
            opacity: 60%;
            border: 4px solid $border-hover-color; 
        }
    }
}


// ----- Menu Section -----
.menu-img-display1, .menu-img-display2, .menu-img-display3, .menu-img-display4 {
    background-image: url("https://images.unsplash.com/photo-1585238342024-78d387f4a707?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2000&q=80");
    background-repeat: no-repeat;
    border: 2px solid white ;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    height: 30vh;
    width: 90vw;
    background-size: cover;
    background-position: center;
    margin-top: 50px;
    overflow: auto;
}

    .menu-img-display2 {
        background-image: url("https://media.istockphoto.com/photos/delicious-pizza-calzone-picture-id1061654734?k=6&m=1061654734&s=612x612&w=0&h=Cn-_JmJhFn9mjY7oBzm4qeRG4QJrwM34XtDaXsxm0p8=");
    }

    .menu-img-display3 {
        background-image: url("https://images.unsplash.com/photo-1473093226795-af9932fe5856?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjJ8fHBhc3RhfGVufDB8MHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=60");
    }

    .menu-img-display4 {
        background-image: url("https://images.unsplash.com/photo-1551024709-8f23befc6f87?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8YmV2ZXJhZ2V8ZW58MHwwfDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=60");
     
    }

    #menu-signature-pizza, #menu-calzones, #menu-pastas, #menu-beverages {
        position: absolute;
        color: white;
        background-color: $text-block-bkg-color;
        text-align: center;
        bottom: 0;
        font-size: 1.4rem;
        padding: 3px 5px;
    }


.menu-container {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    height: 100vh;
    width: 100%;
    margin: 20px 10px;
    overflow: auto;
    position: relative;

    .menu-items {
        padding: 20px;
        width: 80vw;
    }

    .menu-items li {
        list-style: none;
        padding: 10px;
    }
}

// ---Contact Us Section ---
.contactUs-container {
    display: grid;
    grid-column: repeat(auto-fit, minmax(300px, 1fr));
    width: 90vw;
    min-height: 69vh;
    justify-items: center;
    align-items: center;
    // flex is used to align items horizonatlly on the main axis. Flex will align all items within the parent container. By using flex-direction: column, it will display the items in a column instead of a row
    // Min-height - there is not enough content to fill the viewport so the footer moves up onto the middle of the webpage. Min-heigh is used to keep footer at the bottom of the page. Calc is used to calculate the min height value. Min height = 100vh - header height - footer height. If the contemt is larget han the min-height, it would not affect the footer positon 

    .contact-location {
        padding: 15px;
        background-color: $text-block-bkg-color;
        text-align: center;
    }

    #contact-us {
        grid-row: 1/2;
        margin-top: 35px; 
        margin-bottom: 30px;  
    }

    #map-location {
        margin-bottom: 30px;
        margin-top: 15px;
    }

    .contact-social {
        color: $contact-icon-color;
    }        
} 

// ----- Footer Section ----- 
footer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    justify-items: center;
    height: $footer-height;
    width: 100%;
    background-color: $nav-bkg-color;
    padding: 10px;
    overflow: auto;

    div {
        color: $link-color;
        text-align: center;
        padding: 10px;
    }

    #footer-contact a {
        color: $contact-icon-color;
    }

    #social i {
        color: $contact-icon-color;
        padding: 5px;
        font-size: 1.3rem;
    }
}

// ---TABLET VIEW---
@media only screen and (min-width: 600px) {
    // ----- Navbar Tablet ----- 
    #toggle-btn {
        display: none;
    }

    .nav-menu {
        display: inline;
        background-color: transparent;
        top: 0;
        grid-column: 2/7;
        margin-left: 40vw;
    }

    .nav-menu a {
        display: inline-block;
        color: $link-color;
        font-size: 1.1rem;
        vertical-align: center;
       text-transform: uppercase;  
    }

    .nav-menu a:hover {
        color: $text-hover;
        text-decoration: underline;
        transition: color 1s;
    }

    #site-logo {
        font-size: 90px;
        vertical-align: middle;
    }

    // -----Phone Number Tablet -----
    #phone-number {
        pointer-events: none;
        // to disable clickable call on tablet view
    }

    // ----- Menu Section Tablet -----
    .menu-img-display1, .menu-img-display2, .menu-img-display3, .menu-img-display4 {
        height: 50vh;
    }  

    //  ----- Contact Us Section ----- 
    #map-location {
        grid-row: 1/4;
    }
}

// ---DESKTOP VIEW ---
@media only screen and (min-width: 900px) {
    
    // ----- Navbar Desktop -----
    .nav-menu {
        display: inline;
        background-color: transparent;
        top: 0;
        grid-column: 2/7;
        margin-left: 50vw;
    }
    
    .nav-menu a {
        font-size: 1.3rem;  
    }
    
    #site-logo {
        font-size: 100px;
    }

    #quick-menu .quick-menu-items a {
        display: inline-block;
        font-size: 1.4rem;
    }

    #fresh-ingredients, #family-owned  {
        font-size: 1.2rem;
    }

    //  ----- Phone Number Desktop ----- 
    #phone-number {
        pointer-events: none;
          // to disable clickable call on tablet view
    }

    //  ---- Main Section Desktop -----
    #hero #hero-content {
        font-size: 1.3rem;
    }
    
    // ----- Menu Section Desktop ------ 
    .menu-img-display1, .menu-img-display2, .menu-img-display3, .menu-img-display4 {
        height: 40vh;
    } 

    #menu-signature-pizza, #menu-calzones, #menu-pastas, #menu-beverages {
        font-size: 2rem;
    }

    // ------ Contact Us Section -----
    .contactUs-container {
        #map-location #map iframe {
            #map iframe {
                width: 60vw; 
              }
        }
    }

}
