@import '_variables.scss';

* { 
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    font-family: $website-font-fam;
    background: #f2e9e4;
}

// navbar style
@import 'header.scss';

header {
    background-color: $nav-bkg-color;
    height: $header-height;
    width: 100%;
    display: grid;
    grid-template-columns: $grid-temp-col;
   justify-items: center;
   align-items: center;
   position: sticky;
   top: 0px;
}

#site-logo {
    width: $site-logo-width;
    top: 0px;
    margin-right: auto; 
    // Auto used to push logo to the very left on mobile
}

#menu-toggle-label {
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    color: $link-color;
    padding: 25px 20px 0px 20px;
    font-size: 1.5rem;
}

#menu-toggle {
    display: none;
}

#closes {
    display: none;
}

#nav-menu ul {
    // Display inline-flex used to expand the <li> litems in inline direction
    display: flex;
    flex-direction: column;
    align-items: center;
}

#nav-menu ul li {
    font-size: 1.5rem;
    list-style: none;
    padding: 1.1rem;
    display: none;
    // nav menu items are set to display to none so it is not visible unless checkbox is clicked
}

#menu-toggle:checked ~ #nav-menu li {
    display: block;
    top: 100px;

}

#nav-menu ul li a {
    text-decoration: none;
    color: $link-color;
}

#phone a {
    display: none;
}

// Desktop Style
@media only screen and (min-width: 768px) {
    #menu-toggle-label {
        display: none;
        // display set to none to hide toggle menu on desktop screen
    }

    #nav-menu ul {
        flex-direction: row;
    }

    #nav-menu ul li {
        display: block;
        font-size: 1.1rem;
    }

    #phone a {
        display: block;
        font-size: 1.1rem;
        color: $link-color;
    }
}


// .container {
//     display: grid;
//     height: 100vh;
//     grid-template-columns: 1fr 3fr 1fr;
//     grid-template-rows: 1.5fr repeat(20, 1fr) ;
// }

